<style>
      text{
          font-size: 20px;
      }
      br {
          line-height: 250%;
          }
      body{
           background-color: #000033;
           background-image: url('https://images.unsplash.com/photo-1445905595283-21f8ae8a33d2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80');
           height: 100%;
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
           color: #bcbdbe;
		   font-family: Trebuchet MS;
           }
           .formInput1{
             width: 50%;
			 height: 30px;
             padding: 10px;
             border: 2px solid #c6a226;
             border-radius: 25px;
             box-sizing: border-box;
             resize: vertical;
             position: relative; bottom:50px;
			 margin: 10px
           }
					 .button {
              background-color: Transparent;
              border: inset #c6a226;
              color: #bcbdbe;
              padding: 15px 19px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              border-radius: 25px;
              font-size: 16px;
			  margin: 7px
          }
          .label {
            padding: 12px 12px 12px 0;

          }
          titles{
            width: 200px;
            text-align: center;
            font-size: 40;
            font-family: Trebuchet MS;
            text-decoration-color:#c6a226;
            border-bottom: 5px solid #c6a226;
            border-top: 5px solid #c6a226;
            padding: 2px;
          }
		  textarea{
			 font-family: arial
		  }
		 
		.bodycontainer:after {
			content: "";
			display: table;
			clear: both;
			}
		.column {
			float: left;
			width: 50%;
			height: 70%
			}
		    
			#container {
            width: 70%;
            height: 100%;
            content: "";
            background-color: white;
          }
		  #subt{
            text-align: center;
            font-size: 25;
			color: #000033;
            font-family: Trebuchet MS;
            text-decoration-color:#c6a226;
            border-bottom: 5px solid #c6a226;
            border-top: 5px solid #c6a226;
            padding: 2px;
          }
 </style>